{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if users.Followings %}
        {% for following in users.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div classs="followers half">
      <h2>팔로워 목록</h2>
      {% if users.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}   
      {% endif %}
    </div>
  </div>
{% endblock %}
